*~
*[#]*
*[#]*[#]
bin
build
*.class
.classpath
.DS_Store
.gradle
.idea
*.iml
*.ipr
*.iws
*.jar
*.log
monit/monitrc
out
.project
Scratch.java
ScratchTest.java
.settings
target/
test-output
test-results
test-tmp
tfc_monitor/monitor.d/send_to_*
tfc_monitor/send_to_*
.vertx
.yardoc
.yardopts

