[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=prometheus
Group=prometheus
Type=simple
ExecStart=/usr/local/bin/node_exporter \
    --web.listen-address="127.0.0.1:9100" \
    --collector.textfile.directory="/var/lib/node_exporter/textfile_collector/" \
    --collector.processes \
    --collector.systemd \
    --collector.systemd.unit-whitelist=""

[Install]
WantedBy=multi-user.target
